.places {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 984px;
  grid-auto-rows: minmax(0, auto);
  gap: 80px;
  padding: 0 148px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .places {
    padding: 0 48px;
    grid-template-columns: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .places {
    padding: 0 24px;
    grid-template-columns: 720px;
    gap: 73px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {

  .places {
    grid-template-columns: 320px;
    padding: 0;
    gap: 50px;
  }
}

@media screen and (max-width: 424px) {

  .places {
    grid-template-columns: 320px;
    padding: 0;
    gap: 50px;
  }
}